body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #3498db;
    color: white;
}

.hero input {
    padding: 10px;
    width: 200px;
}

.hero button {
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
}

.properties {
    padding: 20px;
    text-align: center;
}

.card {
    background: white;
    width: 250px;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    box-shadow: 0px 0px 10px gray;
}

.card img {
    width: 100%;
}
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
